body{
    background-image: url(./biryani.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.a{
    color: cornsilk;
}
#b{
    color: blanchedalmond;
}
u1{
    list-style-type: square;
}
